body {
  font-family: 'Raleway', sans-serif;
}

/* Growing Underline on hover - START */

.guoh h1 {
  display: inline-block;
  color: lightgray;
  border-bottom: 2px solid lightgray;
  transition: color 250ms ease-out;
}
.guoh h1:hover {
  color: tomato;
}

.guoh h1::after {
  position: relative;
  top: 2px;
  display: block;
  content: '';
  /* position: absolute; */
  width: 0;
  height: 2px;
  background-color: tomato;
  transition: width 250ms ease-out;
}

.guoh h1:hover::after {
  width: 100%;
}

/* Growing Underline on hover - END */


.floh {
  perspective: 1000px;
}

.foh-item {
  background: lightgray;
  border-radius: 50%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  position: relative;
  transition: 0.6s;
	transform-style: preserve-3d;
}

.foh-item:hover {
  background: tomato;
  transform: rotateY(180deg);
}

.foh-item img {
  width: 60%;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}